// .invalid-feedback {
//     margin-left: 10px;
//     margin-bottom: 3px;
// }

// .form-group .label {
//     font-size: 17px;
//     font-weight: 600;
//     margin-left: 10px;
//     margin-bottom: 3px;
// }

.form-group .form-control {
    color: #888;
    font-weight: 400;
    letter-spacing: 1px;
    height: 3.125em;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #dcdcdc;
    
}

.text-danger {
    margin-left: 15px;

}

.form-control {
    margin: 5px;
}

.form-group .form-control:focus {

    box-shadow: 0 0 3px #e7e7e7;
}